.nav {
    display: grid;
    align-items: center;
}

.nav ul {
    list-style: none;
    padding: 100px;
    margin-left: 500px;
}

.nav ul li {
    margin-right: 200px;
}

.nav ul li:last-child {
    margin-right: 10px;
}